In [1]:
# import settings.config_movie_lens_25m as cfg

dataset_folder = 'ml-25m'
preprocessed_dataset_folder = 'preprocessed_dataset'

display(dataset_folder)

'ml-25m'

In [2]:
import pandas as pd

movies_df = pd.read_csv(dataset_folder+'/movies.csv')

display(movies_df)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [3]:
# Extract the year from the title.
movies_df['year'] = movies_df['title'].str.extract('.*\((\d+)\).*', expand=False).fillna(0).apply(int)

# Seperate the Geners to columns
movies_df = movies_df.join(movies_df.pop('genres').str.get_dummies('|'))

# Clean the table
movies_df = movies_df.drop(['(no genres listed)', 'title'], axis=1)

display(movies_df)

,movieId,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1995,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,1995,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,1995,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,209157,2018,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62419,209159,2001,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
62420,209163,2018,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62421,209169,2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62422,209171,1962,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
tags_df = pd.read_csv(dataset_folder+'/genome-scores.csv')

display(tags_df)

          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]

In [5]:
# Convert tags to table represents tags vector for each movie

table_tags = tags_df.pivot(index='movieId',
                           columns='tagId',
                           values='relevance')

table_tags = table_tags.reset_index().rename_axis(None, axis=1)

display(table_tags)

,movieId,1,2,3,4,5,6,7,8,9,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
0,1,0.02875,0.02375,0.06250,0.07575,0.14075,0.14675,0.06350,0.20375,0.20200,...,0.04050,0.01425,0.03050,0.03500,0.14125,0.05775,0.03900,0.02975,0.08475,0.02200
1,2,0.04125,0.04050,0.06275,0.08275,0.09100,0.06125,0.06925,0.09600,0.07650,...,0.05250,0.01575,0.01250,0.02000,0.12225,0.03275,0.02100,0.01100,0.10525,0.01975
2,3,0.04675,0.05550,0.02925,0.08700,0.04750,0.04775,0.04600,0.14275,0.02850,...,0.06275,0.01950,0.02225,0.02300,0.12200,0.03475,0.01700,0.01800,0.09100,0.01775
3,4,0.03425,0.03800,0.04050,0.03100,0.06500,0.03575,0.02900,0.08650,0.03200,...,0.05325,0.02800,0.01675,0.03875,0.18200,0.07050,0.01625,0.01425,0.08850,0.01500
4,5,0.04300,0.05325,0.03800,0.04100,0.05400,0.06725,0.02775,0.07650,0.02150,...,0.05350,0.02050,0.01425,0.02550,0.19225,0.02675,0.01625,0.01300,0.08700,0.01600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,205072,0.02050,0.01775,0.11400,0.03650,0.31225,0.03675,0.10700,0.37925,0.01725,...,0.18675,0.03650,0.03025,0.12900,0.13975,0.42425,0.03400,0.02350,0.41725,0.09100
13812,205076,0.03825,0.03150,0.03200,0.05325,0.20850,0.07050,0.06625,0.27825,0.00950,...,0.27775,0.03225,0.04675,0.03175,0.23025,0.06300,0.04175,0.04125,0.07275,0.02350
13813,205383,0.04100,0.04025,0.02750,0.07850,0.19750,0.17825,0.17125,0.30475,0.16825,...,0.16525,0.03250,0.02400,0.03575,0.20400,0.08525,0.04600,0.02900,0.11725,0.03925
13814,205425,0.04525,0.04125,0.04250,0.07425,0.11550,0.10500,0.08275,0.13575,0.16125,...,0.25075,0.04550,0.01425,0.03925,0.21700,0.06000,0.07250,0.01500,0.11050,0.02850
13815,206499,0.10050,0.09325,0.02225,0.04550,0.21125,0.06125,0.10425,0.29750,0.12450,...,0.12750,0.02750,0.02250,0.04200,0.17500,0.11000,0.04850,0.01325,0.14025,0.03350

In [6]:
movies_df = movies_df.merge(table_tags, on='movieId', how='left').fillna(0)

movies_df = movies_df.rename(columns={"movieId": "item"})

#movies_df.set_index("item", inplace=True) 

display(movies_df)

,item,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
0,1,1995,0,1,1,1,1,0,0,0,...,0.04050,0.01425,0.03050,0.03500,0.14125,0.05775,0.03900,0.02975,0.08475,0.02200
1,2,1995,0,1,0,1,0,0,0,0,...,0.05250,0.01575,0.01250,0.02000,0.12225,0.03275,0.02100,0.01100,0.10525,0.01975
2,3,1995,0,0,0,0,1,0,0,0,...,0.06275,0.01950,0.02225,0.02300,0.12200,0.03475,0.01700,0.01800,0.09100,0.01775
3,4,1995,0,0,0,0,1,0,0,1,...,0.05325,0.02800,0.01675,0.03875,0.18200,0.07050,0.01625,0.01425,0.08850,0.01500
4,5,1995,0,0,0,0,1,0,0,0,...,0.05350,0.02050,0.01425,0.02550,0.19225,0.02675,0.01625,0.01300,0.08700,0.01600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,209157,2018,0,0,0,0,0,0,0,1,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
62419,209159,2001,0,0,0,0,0,0,1,0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
62420,209163,2018,0,0,0,0,1,0,0,1,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
62421,209169,2001,0,0,0,0,0,0,0,0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
62422,209171,1962,1,1,0,0,0,0,0,1,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [7]:
movies_df.to_csv(preprocessed_dataset_folder+'/movies.csv', index=False)
movies_df.to_pickle(preprocessed_dataset_folder+'/movies.pkl')